{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'user/user_profile.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main-content">
        <!-- Top navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">

            <div class="container-fluid">
                <!-- Brand -->
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
                    href="{% url 'home:EMS-home' %}">Home Page</a>
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="collapse" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder"
                                        src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-5.jpg">
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">
                                        <a href="{% url 'user:logout' %}" class="text: text-white">Logout</a>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
            style="min-height: 600px; background-image: url(https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Hello {{first_name}}</h1>
                        <p class="text-white mt-0 mb-5">This is the page where you can host events
                            with the help of the form below.
                        </p>
                        {# <a href="#!" class="btn btn-info">Edit profile</a>#}
                    </div>
                </div>
            </div>
        </div>




        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-body">
                            <form class="" method="POST" action="{% url 'events:host_event' %}">
                                {% csrf_token %}
                                <h6 class="heading-small text-muted mb-4">Host Event</h6>
                                <div class="card-header bg-white border-0">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h3 class="mb-0">Event details</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                            <button type="submit" class="btn btn-sm btn-primary">HOST
                                            </button>
                                        </div>
                                    </div>
                                </div>

                <!-- Modal -->
                            
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="event_name">Event Name</label>
                                                <input type="text" id="event_name"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Event Name" name="event_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="event_date">Event Date</label>
                                                <input type="date" id="event_date"
                                                    class="form-control form-control-alternative" name="event_date">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="event_start_time">Start Time
                                                </label>
                                                <input type="time" id="event_start_time"
                                                    class="form-control form-control-alternative"
                                                    name="event_start_time">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="event_end_time">End Time
                                                </label>
                                                <input type="time" id="event_end_time"
                                                    class="form-control form-control-alternative" name="event_end_time">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="event_venue">Select Venue</label>
                                                <select name="event_venue" id="venues">
                                                    {% for venue in venue_details %}
                                                    <option value="{{ venue.0 }} {{ venue.1 }} {{ venue.2 }}">{{ venue.0 }} {{ venue.1 }}  capacity = {{ venue.2 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="event_number_guests">Number of
                                                    Guests (<= capacity)
                                                </label>
                                                <input type="number" id="event_number_guests"
                                                    class="form-control form-control-alternative"
                                                    name="event_number_guests">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="event_description">Event
                                                    Description</label>
                                                <input type="text" id="event_description"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Describe the event" name="event_description">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="event_cost">Cost of Ticket
                                                </label>
                                                <input type="number" id="event_cost"
                                                    class="form-control form-control-alternative" name="event_cost">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="event_tags">Tags ( space seperated )
                                                    </label>
                                                <input type="text" id="event_tags"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Tags for the event ( space seperated )" name="event_tags">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6 m-auto text-center">
                <div class="copyright">
                    <p>Made with <a href="#" target="_blank">Profile Dashboard</a> by Creative Tim</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>