{#{% load static %}#}
<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> -->
</head>

<body>

<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="{% url 'home:EMS-home' %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                 viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Event Manager</span>
        </a>
        <div class="pt-2 relative mx-auto text-gray-600">
            <form method = "POST" action = "{%url 'home:search'%}">
                {% csrf_token %}
                <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                       type="search" name="search" placeholder="Search">
                <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                    <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                         viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                         xml:space="preserve" width="512px" height="512px">
                            <path
                                    d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                        </svg>
                </button>
            </form>
        </div>
        {% if log_in %}
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">


                <a class="mr-5 hover:text-gray-900" href="{% url 'events:add_venue' %}">Add Venue</a>
                <a class="mr-5 hover:text-gray-900" href="{% url 'events:host_event' %}" >Host Event</a>
                <a class="mr-5 hover:text-gray-900" href="{% url 'user:profile' %}">Profile</a>
            </nav>
        {% else %}
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">

                
            </nav>
        {% endif %}
        <button
                class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
            {% if log_in %}
                <a href="{% url 'user:logout' %}">Log Out</a>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            {% else %}
                <a href="{% url 'user:sign-in' %}">SignIn</a>

                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            {% endif %}
        </button>
    </div>
</header>

{% if messages %}
  <ul class="list-unstyled messages">
  {% for message in messages %}
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">{{ message.tags }}!</strong>
      <span class="block sm:inline">{{ message }}</span>
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
      </span>
</div>
   {% endfor %}
  </ul>
{% endif %}

{% block content %}

{% endblock %}


<footer class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" href="{% url 'home:EMS-home' %}">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
              </svg>
              <span class="ml-3 text-xl">Event Manager</span>
            </a>
            <p class="mt-2 text-sm text-gray-500">Made with Django, Built with Love</p>
          </div>
        <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
            <!-- <div class="lg:w-1/4 md:w-1/2 w-full px-4"> -->
                <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">ABOUT THE APP</h2>
                <nav class="list-none mb-10">
                    <p>
                        This app is designed for management of various events. Multiple events can be hosted in the app and the users would be able to view and book their event of their choice. This app is an attempt towards increasing interaction between the users and event organizers and can be used to organize house parties to concerts. The speciality of this app is that everyone and anyone can be an event organizer in the app.        
                    </p>
                </nav>
            <!-- </div> -->
        </div>
    </div>
    <div class="bg-gray-100">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-500 text-sm text-center sm:text-left">© 2021 —
                <a href="{% url 'home:EMS-home' %}" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@Animesh</a>
                <a href="{% url 'home:EMS-home' %}" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@Kushal</a>
                <a href="{% url 'home:EMS-home' %}" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@Avijit</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
      </span>
        </div>
    </div>
</footer>
</body>

</html>