{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'user/user_profile.css' %}">
</head>

<body>
    <div class="main-content">
        <!-- Top navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">

            <div class="container-fluid">
                <!-- Brand -->
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
                    href="{% url 'home:EMS-home' %}">Home Page</a>
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="collapse" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder"
                                        src="{{  uploaded_image_url }}">
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">
                                        <a href="{% url 'user:logout' %}" class="text: text-white">Logout</a>
                                    </span>
                                </div>
                            </div>

                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
            style="min-height: 600px; background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Hello {{first_name}}</h1>
                        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made
                            with your work and manage your projects or assigned tasks</p>
                        {# <a href="#!" class="btn btn-info">Edit profile</a>#}
                    </div>

                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="{{uploaded_image_url}}"
                                            class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                                <a href="#}" class="btn btn-sm btn-default float-right">Message</a>
                            </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                        <div>
                                            <span class="heading">{{wallet_amount}}</span>
                                            <span class="description">Wallet Amount</span>
                                        </div>
                                        <div>
                                            <span class="heading">{{ cart_count }}</span>
                                            <a href="{% url 'user:cart_info' %}">
                                                <span class="description">Cart Info</span>
                                            </a>
                                        </div>
                                        <div>
                                            <span class="heading">{{transactions}}</span>
                                            <span class="description"><a
                                                    href="{%url 'user:transactions'%}">Transactions</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="text-center">
                            <h3>
                                {{ first_name }} {{ last_name }}<span class="font-weight-light">, {{ age }}</span>
                            </h3>
                            <hr class="my-4">
                            <p>{{ about }}</p>
                            <p><button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Add Money
                                </button></p>
                        </div>



                        <div class="modal" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Amount</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" , action="{% url 'user:add_money' %}">
                                            {% csrf_token %}
                                            <label for="">Bank Account</label>
                                            {% for account in account_details %}

                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                    id="flexRadioDefault{{ forloop.counter }}" checked>
                                                <label class="form-check-label"
                                                    for="flexRadioDefault{{ forloop.counter }}">
                                                    <b>No:</b> {{ account.0 }}, <b>IFSC:</b> {{ account.1 }}
                                                </label>
                                            </div>
                                            {% endfor %}

                                            <br>
                                            <div class="form-group">
                                                <label for="">Amount in INR</label>
                                                <input type="number" class="form-control" id="" placeholder="Amount"
                                                    name="amount" required>
                                            </div>
                                            {% if account_present %}
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            {% else %}
                                            <button type="" class="btn btn-secondary" disabled>Submit</button>
                                            {% endif %}
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModalCenter">
                                                <a href="{% url 'user:add_account' %}" style="color: white">
                                                    Add Account
                                                </a>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-body">
                            <form class="" method="POST" action="{% url 'user:profile' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <h6 class="heading-small text-muted mb-4">User information</h6>
                                <div class="card-header bg-white border-0">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h3 class="mb-0">My account</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                            <button type="submit" class="btn btn-sm btn-primary">Update
                                            </button>
                                        </div>
                                    </div>
                                </div>


                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-username">First
                                                    Name</label>
                                                <input type="text" id="input-username"
                                                    class="form-control form-control-alternative"
                                                    placeholder="First name" value="{{first_name}}" name="first_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-last-name">Last
                                                    name</label>
                                                <input type="text" id="input-last-name"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Last name" value="{{last_name}}" name="last_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Email
                                                    address</label>
                                                <input type="email" id="input-email"
                                                    class="form-control form-control-alternative" placeholder="email"
                                                    value="{{email}}" name="email">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Phone Number</label>
                                                <input type="tel" id="input-tel"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Phone Number" value="{{phone_number}}"
                                                    name="phone_number">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Country Code</label>
                                                <input type="text" id="input-tel"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Country Code" value="{{country_code}}"
                                                    name="country_code">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Image</label>
                                                <input type="file" id="img" name="img" accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-first-name">Date of
                                                    Birth</label>
                                                <input type="text" id="input-DoB"
                                                    class="form-control form-control-alternative" value="{{DoB}}"
                                                    disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <!-- Address -->
                                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-address">Address</label>
                                                <input id="input-address" class="form-control form-control-alternative"
                                                    placeholder="Home Address" value="{{street}}" type="text"
                                                    name="street">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-city">State</label>
                                                <input type="text" id="input-city"
                                                    class="form-control form-control-alternative" placeholder="State"
                                                    value="{{state}}" name="state">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-country">Postal
                                                    code</label>
                                                <input type="number" id="input-postal-code"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Postal code" value="{{zip}}" name="zip">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <!-- Description -->
                                <h6 class="heading-small text-muted mb-4">About me</h6>
                                <div class="pl-lg-4">
                                    <div class="form-group focused">
                                        <label></label>
                                        <input rows="4" class="form-control form-control-alternative"
                                            placeholder="A few words about you ..." value="{{about}}" name="about">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            
        </div>

        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>